@keyframes HeaderImageMoves {
  0% {
    transform: translate(0);
  }
  0% {
    transform: translate(-1.5rem, 1.5rem);
  }
}
body {
  overflow-x: hidden;
}
.snowflake-container {
  position: relative;
}

.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}

@for $i from 1 through 50 {
  .snowflake:nth-child(#{$i}) {
    --size: #{random(5) * 0.2}vw;
    --left-ini: #{random(20) - 10}vw;
    --left-end: #{random(20) - 10}vw;
    left: #{random(100)}vw;
    animation: snowfall #{5 + random(10)}s linear infinite;
    animation-delay: -#{random(10)}s;
  }
}

/* added small blur every 6 snowflakes*/
.snowflake:nth-child(6n) {
  filter: blur(1px);
}


.home-page {
    background-image: url(@/assets/imgs/landing-page/header.png);
    padding: 3rem;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    margin-top: -10rem;
    padding-top: 10rem;
    overflow: hidden;

    .typed-cursor {
      font-size: 7rem;
      color: #008DD2;
    }
    &__title {
      font-size: 4.2rem;
      margin-top: 4rem;

      @media screen and (max-width: 1000px) {
        margin-top: 1rem;
      }
    }
    &__title-2 {
      font-size: 2.9rem;
    }
    &__desc {
      line-height: 2;
      font-family: 'fontRegular';
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
    }
    &__img {
      img {
        display: block;
        margin: auto;
        max-width: 100%;
        transition: all 0.5s linear;
        animation: HeaderImageMoves 1.5s ease-in infinite;
        animation-direction: alternate-reverse;
      }
    }
}


.about-us {
  margin-top: 5.5rem;
  background-image: url(@/assets/imgs/landing-page/bg-about.svg);
  background-repeat: no-repeat;
  background-position: left;

  &__title {
    background: url(@/assets/imgs/landing-page/rec.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    font-size: 2.5rem;
    height: 6rem;
    line-height: 6rem;
    font-family: 'fontRegular';
  }
  &__logo {
    max-width: 100%
  }
  &__text {
    position: relative;
  }
  &__content {
    @media screen and (max-width: 800px) {
      flex-wrap: wrap;
    }
  }
  &__bubble {
    &.first {
      position: absolute;
      top: -19%;
      right: 0;
    }
    &.second {
      position: absolute;
      top: 37%;
      left: 50%;
    }
    &.third {
      position: absolute;
      top: 8%;
      left: 18%;
    }
  }
}


.about-physics {
  margin-top: 5.5rem;
  &__title {
    background: url(@/assets/imgs/landing-page/rec.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    font-size: 2.5rem;
    height: 6rem;
    line-height: 6rem;
    font-family: 'fontRegular';
    margin-bottom: 2.5rem;
  }
}


.courses-list {
  margin-top: 5.5rem;
  &__title {
    background: url(@/assets/imgs/landing-page/rec.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    font-size: 2.5rem;
    height: 6rem;
    line-height: 6rem;
    font-family: 'fontRegular';
    margin-bottom: 2.5rem;
  }
}


.course-card {
  position: relative;
  margin-bottom: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  min-height: 330px;
  *{
    color: white;
  }
  &__discount {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    background: red;
    color: #FFF;
    padding: .3rem 1rem;
    display: block;
    border-radius: 1rem;
  }
  &__img {
    height: 33rem;
    object-fit: cover;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #036591, transparent);
    display: grid;
    place-content: end;
    > div {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 2rem;
      overflow: hidden;
      h6 {
        font-size: 2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      span {
        font-size: 1.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
