.button {
  padding: .8rem 1.4rem;
  border: none;
  border-radius: .5rem;
  &--primary {
    background: var(--primary);
    color: var(--white);
    *{
      color: var(--white);
    }
  }

  &--danger {
    background: #FF1D1D;
    color: var(--white);
    *{
      color: var(--white);
    }
  }

  &--primary-plain {
    background: #008dd23d;
    color: var(--primary);
    *{
      color: var(--primary);
    }
  }

   &--secondary {
    background: #fff;
    color: var(--primary) !important;
    *{
      color: var(--primary) !important;
    }
  }

  &--whatsapp {
    background: var(--light-green);
    *{
      color: var(--green);
    }
  }
   &--whatsapp-dark {
    background: var(--green);
    padding: 1.3rem 2.2rem !important;
    *{
      color: var(--white);
    }
  }
  &--telegram {
    background: var(--primary);
    padding: 1.3rem 2.2rem !important;
    *{
      color: var(--white);
    }
  }
  &--icon {
    display: flex;
    gap: .5rem;
    align-items: center;
    text-decoration: none;
  }
  &__gmail {
    background: #FFF;
    padding: 1.5rem 1.8rem;
    border: none;
    box-shadow: 0 12px 22px 5px #f7f7f7;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 2rem 0;
    span {
      font-size: 1.5rem;
    }
  }

}



.app-button {
  border: none;
  border-radius: 0.8rem;
  &__primary {
    background-color: var(--primary);
    span {
      color: var(--white);
    }
  }
  &__primary-plain {
    background: #008dd221;
    span {
      color: var(--primary);
    }
  }
  &__text-primary {
    background: none;
    span {
      color: var(--primary);
    }
  }
  &__text-danger {
    background: none;
    span {
      color: red;
    }
  }
}
