.app-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #008dd28a;
  z-index: 999;
  &__outer {
    position: fixed;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #FFF;
    width: 98%;
    max-width: 70rem;
    padding: 3rem 3rem 2rem;
    max-height: calc(100vh - 6rem);
    overflow: hidden;
    overflow-y: scroll;
  }
  &__header {
    text-align: center;
    position: relative;
  }
  &__content {
    padding: 1.5rem 0;

  }
  &__content-centered {
    width: 100%;
    max-width: 40rem;
    margin: auto;
    text-align: center;
  }
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #F1F1F1;
    border: none;
    padding: .2rem 1rem;
    border-radius: .2rem;
  }
}
