html {
  font-family: fontRegular;
}

*{
  font: inherit;
  font-size: 2rem;
}

@font-face {
  font-family: fontBold;
  src: url(@/assets/font/Rubik/static/Rubik-Bold.ttf);
}

@font-face {
  font-family: fontMedium;
  src: url(@/assets/font/Rubik/static/Rubik-Medium.ttf);
}
@font-face {
  font-family: fontLight;
  src: url(@/assets/font/Rubik/static/Rubik-Light.ttf);
}

@font-face {
  font-family: fontSemiBold;
  src: url(@/assets/font/Rubik/static/Rubik-SemiBold.ttf);
}

@font-face {
  font-family: fontRegular;
  src: url(@/assets/font/Rubik/static/Rubik-Regular.ttf);
}


.font-h6 {
  font-size: 1.5rem;
}

.text-plain-success {
  color: #2FC503;
}

.font {
  &--light {
    color: var(--light-black);
    font-weight: 400;
    font-family: fontLight;
  }
  &--primary {
    color: var(--primary);
  }
  &--danger {
    color: red;
  }
  &--orange {
    color: var(--orange);
  }
  &--regular {
    font-family: fontRegular;
  }
  &--semibold {
    font-family: fontSemiBold;
  }
  &--bold {
    font-family: fontBold;
  }
}

.font-h5 {
  font-size: 1.8rem;
}

.font-h4 {
  font-size: 2.2rem;
}

.font-h3 {
  font-size: 2.8rem;
}


.font-h2 {
  font-size: 3.2rem;
}


.font-h1 {
  font-size: 3.8rem;
}

span, p {
  color: #363443;
}
.light-font {
  font-family: fontLight;
  color: #8D8D8D;
}
