.login {
  &__or {
    padding-right: 5rem;

    span {
      color: var(--primary);
      position: relative;
      &::after {
        position: absolute;
        top: 50%;
        left: -5rem;
        height: 0.2rem;
        transform: translate(0, -50%);
        width: 4rem;
        background-color: var(
      --primary);
        content: "";
      }
      &::before {
        position: absolute;
        top: 50%;
        right: -5rem;
        height: 0.2rem;
        transform: translate(0, -50%);
        width: 4rem;
        background-color: var(
      --primary);
        content: "";
      }
    }
  }

  &__inner {
    max-width: 38rem;
    text-align: center;
    margin: auto;
  }

  &__forget-pass {
    text-decoration: none;
    font-size: 1.6rem;
    color: #363443;
  }
}
